<!DOCTYPE html>
<html lang="fr">
{% include 'header.html' %}
<div class="container-fluid">
    <div class="row flex-nowrap">
        {% include 'admin/sidebar.html' %}
        <div class="col py-3 text-center">
            <div class="row">
                <div class="col my-3">
                    <h1>Exporter la base de données en .csv</h1>
                </div>
            </div>
            <div class="row">
                <div class="col my-5">
                    <!-- Auto width -->
                    <span>
                        <a class="btn btn-primary" href="{{ url_for('export_bdd') }}" role="button">
                            <i class="fa fa-download"></i>
                             Exporter
                        </a>
                    </span>

                </div>
            </div>

        </div>
    </div>
</div>
{% include 'footer.html' %}

</html>