<!DOCTYPE html>
<html lang="fr">
{% include 'header.html' %}
<body>
<div class="container">
    <h1 class="text-center">Coordonnées des points</h1>
    <div class="row">
        <div class="col-md-12">
            <form action="/result" method="POST">
                <div class="form-group" id="form">
                    <div class="row justify-content-center" id="Point1">
                        <div class="col-2 my-2">
                            <p>Point 1 : </p>
                        </div>
                        <div class="col-5">
                            <input class="form-control" name="PointX1" placeholder="X" required step=0.001
                                   type="number">
                        </div>
                        <div class="col-5">
                            <input class="form-control" name="PointY1" placeholder="Y" required step=0.001
                                   type="number">
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col">
                        <button class="btn btn-info" onclick="addPoint()" type="button">Ajouter un nouveau point
                        </button>
                    </div>
                    <div class="col">
                        <button class="btn btn-danger" onclick="removePoint()" type="button">Supprimer le dernier point
                        </button>
                    </div>
                    <div class="col">
                        <button class="btn btn-secondary" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


</div>
</body>
{% include 'footer.html' %}

<script>
    var id = 1;

    function addPoint() {
        id++;
        var newInput = `<div class="row justify-content-center" id="Point${id}">
                    <div class="col-2 my-2">
                        <p>Point ${id} : </p>
                    </div>
                    <div class="col-5">
                        <input name="PointX${id}" class="form-control" placeholder="X" type="number" step=0.001 required>
                    </div>
                    <div class="col-5">
                        <input name="PointY${id}" class="form-control" placeholder="Y" type="number" step=0.001 required>
                    </div>
                </div>`;
        $('#form').append(newInput);
    }

    function removePoint() {
        if (id > 0) {
            $('#Point' + id).remove();
            id--;
        }
    }
</script>
</html>
